<style>
    #sys-components-others .layui-card-header {
        font-weight: 600;
    }

    #sys-components-others p {
        margin-bottom: 10px
    }
    #sys-components-others .layui-badge {
        line-height: 20px;
        margin: .25rem .5rem .25rem 0;
    }
    #sys-components-others .alert {
        margin-bottom: .75rem;
    }
</style>
<div class="layui-fluid layui-anim sys-anim" id="sys-components-others" lay-title="其他组件">
    <div class="layui-row layui-col-space8 sys-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Tag标签</div>
                <div class="layui-card-body">
                    <p>样式一</p>
                    <div>
                        <span class="layui-badge sys-tag-green">sys-tag-green</span>
                        <span class="layui-badge sys-tag-magenta">sys-tag-magenta</span>
                        <span class="layui-badge sys-tag-orange">sys-tag-orange</span>
                        <span class="layui-badge sys-tag-red">sys-tag-red</span>
                        <span class="layui-badge sys-tag-volcano">sys-tag-volcano</span>
                        <span class="layui-badge sys-tag-gold">sys-tag-gold</span>
                        <span class="layui-badge sys-tag-lime">sys-tag-lime</span>
                        <span class="layui-badge sys-tag-cyan">sys-tag-cyan</span>
                        <span class="layui-badge sys-tag-blue">sys-tag-blue</span>
                        <span class="layui-badge sys-tag-geekblue">sys-tag-geekblue</span>
                        <span class="layui-badge sys-tag-purple">sys-tag-purple</span>
                    </div>
                    <p>样式二</p>
                    <div>
                        <span class="layui-badge sys-bg-green">.sys-bg-green</span>
                        <span class="layui-badge sys-bg-magenta">sys-bg-magenta</span>
                        <span class="layui-badge sys-bg-orange">sys-bg-orange</span>
                        <span class="layui-badge sys-bg-red">sys-bg-red</span>
                        <span class="layui-badge sys-bg-volcano">sys-bg-volcano</span>
                        <span class="layui-badge sys-bg-gold">sys-bg-gold</span>
                        <span class="layui-badge sys-bg-lime">sys-bg-lime</span>
                        <span class="layui-badge sys-bg-cyan">sys-bg-cyan</span>
                        <span class="layui-badge sys-bg-blue">sys-bg-blue</span>
                        <span class="layui-badge sys-bg-geekblue">sys-bg-geekblue</span>
                        <span class="layui-badge sys-bg-purple">sys-bg-purple</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Alert告警提示</div>
                <div class="layui-card-body">
                    <div class="alert">
                        <span class="sys-alert-base sys-alert-success">Success Tips</span>
                    </div>
                    <div class="alert">
                        <span class="sys-alert-base sys-alert-info">Informational Notes</span>
                    </div>
                    <div class="alert">
                        <span class="sys-alert-base sys-alert-warn">Warning Message</span>
                    </div>
                    <div class="alert">
                        <span class="sys-alert-base sys-alert-error">Error Message</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>